header {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #24292f;
    color: white;
}

.head-dropdowns-box {
    width: 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-notification-btn {
    width: 15px;
    height: 15px;
    background-image: url("../../assets/notification-bell-svgrepo-com.svg");
    background-size: cover;
    content: "";
}