@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('../fonts/noto-sans-v27-latin-600.woff2') format('woff2'),
        url('../fonts/noto-sans-v27-latin-600.woff') format('woff');
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex-grow: 1;
}